<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <title><%= title %></title>
  </head>
  <body>
    <div class="maincontainer">
      <% include ./partials/header %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 text-left">
            <a href="comics/add" class="btn btn-default">New Comic</a><br><br>
            <ul class="list-group adminlist">
              <% comics.forEach((comic) => { %>
                <a href="/admin/comics/edit/<%= comic.url %>" class="list-group-item list-group-item-action clearfix">
                  <img src="/<%= comic.thumb %>" class="pull-left" />
                  <h4 class="title">
                    <%= comic.title %>
                  </h4>
                  <p class="summary"><%= comic.tags %></p>
                </a>
              <% }); %>
            </ul>
          </div>
        </div>
      </div>
      <% include ./partials/footer %>
    </div>
    <% include ./partials/scripts %>
  </body>
</html>
