<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <meta property="og:url"                content="http://www.barelyamusing.com/comics/<%= comic.url %>"/>
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="Barely Amusing - <%= comic.title %>" />
    <meta property="og:description"        content='A sad place for sad people.' />
    <meta property="og:image"              content="http://www.barelyamusing.com/comics/<%= comic.url %>/fb.png" />
    <meta name="keywords" content="<%= comic.tags %>">
    <title><%= `Barely Amusing - ${comic.title}` %></title>
  </head>
  <body>
    <div class="maincontainer">
      <% include ./partials/header %>
      <div class="comicPage">
        <div class="comicHolder">
          <h1><%= comic.title %></h1>
          <img src="/<%= comic.main %>" alt="<%= comic.title %> <%= comic.tags %>"/>
        </div>
        <% if(prev !== null) { %>
          <div class="left">
            <a href="/comics/<%= prev.url %>" class="thumb thumb-frame">
              <div class="imghold">
                <img src="/<%= prev.thumb %>" alt="<%= prev.title %> <%= prev.tags %>" />
              </div>
            </a>
          </div>
          <% } %>
        <% if(next !== null) { %>
          <div class="right">
            <a href="/comics/<%= next.url %>" class="thumb thumb-frame">
              <div class="imghold">
                <img src="/<%= next.thumb %>" alt="<%= next.title %> <%= next.tags %>"/>
              </div>
            </a>
          </div>
        <% } %>
        <div class="buttons">
          <% if(prev !== null) { %>
            <a href="/comics/<%= prev.url %>">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
          <% } else {%>
            <a class="disabled">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
          <% } %>
          <a href="/comics/random"><i class="fa fa-refresh" aria-hidden="true"></i></a>
          <% if(next !== null) { %>
            <a href="/comics/<%= next.url %>">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
          <% } else {%>
            <a class="disabled">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
          <% } %>
          <div class="social">
            <p>Sharing is carring.</p>
            <a class="fb" target="_blank" href="https://www.facebook.com/sharer.php?u=http://www.barelyamusing.com/comics/<%= comic.url%>">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a class="tw" target="_blank" href="https://twitter.com/intent/tweet?url=http://www.barelyamusing.com/comics/<%= comic.url%>&text=Hey check this out">
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </a>
            <a class="rd" target="_blank" href="https://www.reddit.com/submit?url=http://www.barelyamusing.com/comics/<%= comic.url%>&title=<%= comic.title %>">
              <i class="fa fa-reddit-square" aria-hidden="true"></i>
            </a>
            <a class="pn" target="_blank" href="http://pinterest.com/pin/create/button/?url=http://www.barelyamusing.com/comics/<%= comic.url%>&media=http://www.barelyamusing.com/comics/<%= comic.url%>/main.png&description=<%= comic.title %>">
              <i class="fa fa-pinterest-square" aria-hidden="true"></i>
            </a>
            <a class="gp" target="_blank" href="https://plus.google.com/share?url=http://www.barelyamusing.com/comics/<%= comic.url%>">
              <i class="fa fa-google-plus-square" aria-hidden="true"></i>
            </a>
            <a class="ln" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=http://www.barelyamusing.com/comics/<%= comic.url%>&title=<%= comic.title %>">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
            <a class="em" href="mailto:?subject=<%= comic.title%>&body=Hey check this out: http://www.barelyamusing.com/comics/<%= comic.url%>">
              <i class="fa fa-envelope-square" aria-hidden="true"></i>
            </a>
          </div>

        </div>
        <div class="bottom">

          <div id="disqus_thread"></div>
        </div>
      </div>
      <% include ./partials/footer %>
    </div>
    <%# disqus stuff%>
    <script>
      var disqus_config = function () {
        this.page.url = 'http://www.barelyamusing.com/comics/'+comic.url;
        this.page.identifier = comic.url;
      };
      (function() {
        var d = document, s = d.createElement('script');

        s.src = '//barelyamusing.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <% include ./partials/scripts %>
  </body>
</html>
