<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <title><%= title %></title>
  </head>
  <body>
    <div class="maincontainer">
      <% include ./partials/header %>
      <div class="container-fluid">
        <div class="row">
          <div class="text-left col-xs-12">
            <h3>Edit Comic</h3>
            <br>
            <form id="newComicForm" method="post" action="<%= comic.url %>" enctype="multipart/form-data">
              <div class="form-group">
                <label for="name">Title</label>
                <input class="form-control" name="title" type="text" value="<%= comic.title %>"/>
              </div>
              <div class="form-group">
                <label for="name">URL</label>
                <input class="form-control" name="url" type="text" value="<%= comic.url %>"/>
              </div>
              <div class="form-group">
                <label for="tags">Tags</label>
                <input class="form-control" name="tags" type="text" value="<%= comic.tags %>"/>
              </div>
              <div class="form-group">
                <label for="comment">Comment</label>
                <textarea class="form-control" name="comment"/><%= comic.comment %></textarea>
              </div>
              <div class="form-group">
                <label for="favorite">Favorite</label>
                <input
                  class="form-check-input"
                  name="favorite"
                  type="checkbox"
                  <% if(comic.favorite) { %> checked <% } %>
                />
              </div>
              <div class="form-group">
                <label for="comics">Images</label>
                <input class="form-control-file" name="comics" multiple type="file" accept="image/*"/>
              </div>
              <br />
              <button class="btn btn-primary" type="submit">Submit</button>
              <a class="btn btn-default" href="/admin/comics">Back</a>
              <span id = "status"></span>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% include ./partials/scripts %>
  </body>
</html>
